<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<div class="radio_information">
			<div class="radio_item" id="radio_station">
				<img class="radio_icon" src="{EXT_GLOBAL_THEME_PATH}/images/dj.png" align="left" />
				<h4><strong>{L_STATION}</strong></h4>
				<p id="js_radio_station">Loading...</p>
			</div>
			<div class="radio_item" id="radio_song">
				<img class="radio_icon" src="{EXT_GLOBAL_THEME_PATH}/images/song.png" align="left" />
				<h4><strong>{L_SONG}</strong></h4>
				<p id="js_radio_song">Loading...</p>
			</div>
			<div class="radio_item" id="radio_genre">
				<img class="radio_icon" src="{EXT_GLOBAL_THEME_PATH}/images/genre.png" align="left" />
				<h4><strong>{L_GENRE}</strong></h4>
				<p id="js_radio_genre">Loading...</p>
			</div>
			<div class="radio_item" id="radio_bitrate">
				<img class="radio_icon" src="{EXT_GLOBAL_THEME_PATH}/images/bitrate.png" align="left" />
				<h4><strong>{L_BITRATE}</strong></h4>
				<p id="js_radio_bitrate">Loading...</p>
			</div>
			
			<div class="radio_clear"></div>
		</div>

		<!-- IF ARCHCRY_RADIO_WINAMP_URL || ARCHCRY_RADIO_WMP_URL || ARCHCRY_RADIO_REAL_URL || ARCHCRY_RADIO_ITUNES_URL -->
		
			<hr />		
		
			<div class="radio_buttons">
				<!-- IF ARCHCRY_RADIO_WINAMP_URL -->
					<a target="_blank" class="radio_button" href="{ARCHCRY_RADIO_WINAMP_URL}">
						<img src="{EXT_GLOBAL_THEME_PATH}/images/winamp.png" width="83" height="25" />				
					</a>
				<!-- ENDIF -->
				<!-- IF ARCHCRY_RADIO_WMP_URL -->
					<a target="_blank" class="radio_button" href="{ARCHCRY_RADIO_WMP_URL}">
						<img src="{EXT_GLOBAL_THEME_PATH}/images/wmp.png" width="165" height="25" />
					</a>
				<!-- ENDIF -->
				<!-- IF ARCHCRY_RADIO_REAL_URL -->
					<a target="_blank" class="radio_button" href="{ARCHCRY_RADIO_REAL_URL}">
						<img src="{EXT_GLOBAL_THEME_PATH}/images/real.png" width="104" height="25" />
					</a>
				<!-- ENDIF -->
				<!-- IF ARCHCRY_RADIO_ITUNES_URL -->
					<a target="_blank" class="radio_button" href="{ARCHCRY_RADIO_ITUNES_URL}">
						<img src="{EXT_GLOBAL_THEME_PATH}/images/itunes.png" width="144" height="25" />
					</a>
				<!-- ENDIF -->
			</div>
		
		<!-- ENDIF -->
			
	   	<span class="corners-bottom"><span></span></span>
   	</div>
</div>
